<% var data = {
    author: "@ 2021 г. <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://lonwan.ru\">lonwan.ru</a> 10 января 2021 год.",
    contentTop: {
        value: "20",
        h1: "самых богатых<br/>предпринимателей<br/>в фудтехе",
        h2: "Русбейс публикует первый по счету список «самых богатых предпринимателей» — молодых людей, которые работают на передовых направлениях и создают новую экономику и культуру страны",
        p: [
            "«Секрет» представляет ежегодный рейтинг самых активных российских бизнес-ангелов, составленный Firrma Group при поддержке РВК и Национальной ассоциации бизнес-ангелов (НАБА).",
            "Участники — частные инвесторы, для которых вложения в российские и зарубежные стартапы являются основным бизнесом, а не хобби или меценатством. Главный критерий, определяющий место в рейтинге, — количество сделок в 2016 году, получивших публичное подтверждение.",
            "Основной критерий, согласно которому выстраивался список — число проинвестированных проектов за год. Эффективность инвестиций на этом непрозрачном рынке сравнить невозможно.",
            "С подробной методологией вы можете ознакомиться ниже."
        ]
    },
    contentBottom: {
        h2: "Методология",
        p: [
            "По-прежнему мы не включаем в наш список людей из многочисленной категории «наследники». Не потому, что сомневаемсяв их перспективности, — напротив: дети крупных бизнесменов, влиятельных чиновников и государственных деятелей часто могут выглядеть перспективнее любого из наших героев. Правда, только при условии, что их отцы сохранят деньги, влияние и власть: смогли бы они сохранить свой потенциал в честной рыночной борьбе, мы не знаем, поэтому считаем несправедливым ставить их в один ряд с людьми, начинавшими с гораздо более скромных стартовых условий.",
            "Фамилий в итоговом варианте топ-20 могло быть больше, но если в одном проекте или компании нашим критериям соответствовали несколько человек, мы выбирали одного безусловного лидера или ключевого участника. Каждый из финалистов представляет определенное направление, отрасль, сектор, и чтобы получить как можно более широкую картину «будущего», мы оставили по одному человеку на сектор. Почти всегда таких людей в нем было больше, и одного из них мы выбирали хоть и на основании множества разных фактов, но в конечном счете совершенно субъективно. Присваивать участникам ка​​кие-то места мы не стали, они расставлены в произвольном порядке.",
            "Подробнее на Русбейс:"
        ],
        a: "https://www.rb.ru/rating20"
    },
    arr: [
        {name: "test", id: 1},
        {name: "test", id: 2},
        {name: "test", id: 3}
    ],
    socials: _.template(
        require('./includes/social-networks.html')
        .default)({socials: [
            {url: "#", img: 'fb', name: "Facebook"},
            {url: "#", img: 'vk', name: "ВКонтакте"},
            {url: "#", img: 'tw', name: "Twitter"},
            {url: "#", img: 'ok', name: "Одноклассники"},
            {url: "#", img: 'tl', name: "Telegram"},
        ]
    }),
    people: [
        {id: 1, img: '01', name: "Константин Константинов", company: "Мясокомбинат Черкизово", money: "11 000 000 000"},
        {id: 2, img: '02', name: "Леонид Ярмольник", company: "Домик в деревне", money: "12 000 000 000"},
        {id: 3, img: '03', name: "Филипп Киркоров", company: "Российская эстрада", money: "13 000 000 000"},
        {id: 4, img: '04', name: "Валерий Леонтьев", company: "Gliss Kur", money: "14 000 000 000"},
        {id: 5, img: '05', name: "Павел Дуров", company: "Telegram", money: "15 000 000 000"},
        {id: 6, img: '06', name: "Леонид Леонидов", company: "Домик в деревне", money: "16 000 000 000"},
        {id: 7, img: '07', name: "Леонид Леонидов", company: "Домик в деревне", money: "17 000 000 000"},
        {id: 8, img: '08', name: "Леонид Леонидов", company: "Домик в деревне", money: "18 000 000 000"},
        {id: 9, img: '09', name: "Леонид Леонидов", company: "Домик в деревне", money: "19 000 000 000"},
        {id: 10, img: '10', name: "Леонид Леонидов", company: "Домик в деревне", money: "20 000 000 000"}
    ]
}; %>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>Rusbase</title>
</head>
<body>
    <div class="main">
        <header>
            <%= _.template(require('./includes/header.html').default)() %>
        </header>
        <section>
            <%= _.template(require('./includes/section-top.html').default)(data) %>
            <%= _.template(require('./includes/section-people.html').default)(data) %>
            <%= _.template(require('./includes/section-bottom.html').default)(data) %>
        </section>
        <footer>
            <%= _.template(require('./includes/footer.html').default)(data) %>
        </footer>
    </div>
</body>
</html>